<nav class="navbar">
    <div class="navbar_logo">
        <!--Melur Jaya Logo and Title-->
        <a href="../../pages/index/index.html"><img id="logo" src="../../images/logo.png" alt="Logo"></a>
        <p id="company_name">MELUR JAYA</p>
    </div>
    <div class="nav_links">
        <ul>
            <li><a href="../../pages/index/index.html">HOMEPAGE</a></li>
            <li><a href="../../pages/about_us/about_us.html">ABOUT US</a></li>
            <li id = "our_products">
                <a href="#">OUR PRODUCTS</a>
                <ul class="dropdown">
                    
                    <li class="dropdown_items"><a href="#">ROTI CANAI BALLS</a></li>
                    <li class="dropdown_items"><a href="#">CAPATI BALLS</a></li>
                    <li class="dropdown_items"><a href="#">JAM TART</a></li>
                    <li class="dropdown_items"><a href="#">WHITE CHCOLATE ALMOND DIP</a></li>
                </ul>
            </li>
            <li><a href="../../pages/contact_us/contact_us.html">CONTACT US</a></li>
        </ul>
    </div>
</nav>
