.footer {
    background-color: #114131;
    width: 100%;
    padding: 20px 30px 20px;

}

.social_icons {
    display:flex;
    justify-content: center;
    
}

/*Making icons circular with background*/

.social_icons a{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

.social_icons a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

/*Hover effect on Social Icons*/

.social_icons a i:hover{
    color: red;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 1.3em;
    opacity: 0.7;
    

}

.footerNav ul li a:hover{
    opacity: 1;
    transition: 0.5s;
}

.footerBottom{
    padding: 3px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){

    .footerNav ul{
        flex-direction: column;
    } 

    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}


