<footer class = "footer">
    <div class="social_icons">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-solid fa-shopping-cart"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="#"><i class="fa-solid fa-shopping-cart"></i></a>
    </div>
    <div class="footerNav">
        <ul>
            <li><a href="../../pages/index/index.html">HOMEPAGE</a></li>
            <li><a href="../../pages/about_us/about_us.html">ABOUT US</a></li>
            <li><a href="../../pages/contact_us/contact_us.html">CONTACT US</a></li>
        </ul>
    </div>
    <div class="footerBottom">
        <p>CopyRight &copy;2024; Designed by <span class="designer_name">XV Mangga Analytics</span></p>
    </div>

</footer>